<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<title>Registration</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> 
					<span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">App</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/}">Produtos</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/report}">Relatórios</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Sair</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>
	<div class="container">
		<br>
		<h4>
			Bem vindo <span sec:authentication="principal.username">User</span> :)
		</h4>
		<table class="table" border="1">
			<thead>
				<tr>
					<th>Produtos</th>
					<th>Medida</th>
					<th>Preço</th>
					<th>Quantidade Disponível</th>
					<th>Solicitar</th>
				</tr>
			</thread>
			<tbody id="tabela">
		    </tbody>
		</table><br/><br><br><br>
	</div>

	<hr>
	<form id="envio">
		Nome: <input type="text" name="nome" id="nome"><br>
		Idade: <input type="number" name="idade" id="idade"><br>
		<input type="button" value="Enviar" id="enviar">
	</form>
	<br>
	<hr>
	
	<footer>
		<script>
			function carregar(){
				$.ajax({
					url:"http://localhost:8080/produtos",
					type: 'GET',
					cache:false,
					}).then( function (data) {
						for(var i=0;data.length>i;i++){
							//Adicionando registros retornados na tabela
							$('#tabela').append('<tr><td>'+data[i].produtos+'</td><td>'+data[i].medida+'</td><td>'+data[i].preco+'</td>'+'<td>'+data[i].qtde+'</td>'+'<td>'+'solicitar'+'</td></tr>');
						}
					}).fail(function () {
						alert("Erro");
					}
				);
			}
			function salvar(){
				// parâmetro data são os dados que serão transmitido para o servidor; parâmetro cache é apara não fazer cache de envio
				$.ajax({
					url:"http://172.26.16.1:8080/teste",
					type: 'POST',
					data: {
						"nome": $("#nome").val(),
						"idade": $("#idade").val()
					},
					cache:false,
					success: function (data) {
						// convertendo um string em array
						var array = data.split(";");
						//escrevendo a resposta
						$("#resposta").fadeOut(1000,function () {
							$(this).html("<b>Nome:</b>"+array[0]+"<br><b>Idade:</b>"+array[1]);
							$(this).fadeIn(1000);
						});
					},
					error: function () {
						alert("Erro");
					}

				});

			}
			$(document).ready(function () {
				// chama o método GET
				carregar();

				// click do botão
				//$("#enviar").click(function () {
					// chama o post
					//salvar();
				//});
			});
		</script>
	</footer>

<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>